<app-menuhome></app-menuhome>
<div class="container">
  
  <div class="table-nome col-md-12">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th>Cargo</th>
            <th>Horas Planejadas</th>
            <th>Horas Diurnas</th>
            <th>Horas Noturnas</th>
            <th>Total horas</th>
          </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let h of plantoes;let i = index;">
              <td>{{h.nome}}</td>
              <td>{{h.cargo}}</td>
              <td>{{(h.HorasPlanejadasNoturnas + h.HorasPlanejadasDiurnas)}}</td>
              <td>{{h.HorasFeitasPlantoesDiurnos}}</td>
              <td>{{h.HorasFeitasplantoesNoturnos}}</td>
              <td>{{(h.HorasFeitasPlantoesDiurnos + h.HorasFeitasplantoesNoturnos )}}</td>
            </tr>
        </tbody>
      </table>
  </div>
</div>