<app-menuhome></app-menuhome>
<div class="container">
  <h3 class="mt-3">Horas do Funcionario</h3>
  <form #f="ngForm" (ngSubmit)="cadastroHoras(f)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="horas">Horas planejadas</label>
          <input type="number" class="form-control" id="nome" placeholder="0" ngModel name="HorasPlanejadas">
        </div>
        <div class="form-group col-md-6">
            <label for="horas">HorasFeitas</label>
            <input type="number" class="form-control" id="HorasFeitas" placeholder="0" ngModel name="HorasFeitas">
          </div>
          <div class="form-group col-md-6">
            <label for="horas">HorasCorrigidas</label>
            <input type="number" class="form-control" id="HorasCorrigidas" placeholder="0" ngModel name="HorasCorrigidas">
          </div>

        <div class="form-group col-md-6">
          <label for="cargo">Turnos</label>
          <select id="turno" class="form-control" ngModel name="turno">
            <option value="">Escolha o turno</option>
            <option value="plantoesDiurnos">Diurno</option>
            <option value="plantoesNoturnos">Noturno</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

    <h3 class="mt-3">horas diurnas</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">HorasPlanejadas</th>
          <th scope="col">HorasFeitas</th>
          <th scope="col">HorasCorrigidas</th>
          <th scope="col">horas reais</th>
          <th> total de horas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of horasDiurnas">
          <td>{{item.HorasPlanejadas}}</td>
          <td>{{item.HorasFeitas}}</td>
          <td>{{item.HorasCorrigidas}}</td>
          <td>Horas reais</td>
          <td>Horas totais</td>
          <td>
            <a class= "btn btn-danger" (click)="deleteHorasDiurna(item.funcionarioId)">remover</a>
          </td>
        </tr>
      </tbody>
    </table>   

</div>
